<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f2f2f2;
  }
</style>
{% if product.template_suffix == 'actopassproduct' %}
<div class="container-1170">
  <div class="beadcrumbdetails">
    <div class="actoFunctions">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'share-event' %}
        <div class="asShare">
          <button class="asShareBtn" onclick="shareContent()">
            {{ block.settings.share_icon }}
            <p style="margin: 0px;"> {{ block.settings.share_heading }} </p>
          </button>
        </div>
      {% endcase %}
      {% endfor %}
    </div>
  </div>

  {% comment %} PRODUCT START {% endcomment %}
  <div class="product-container">
    <div class="product-image">
      <div class="swiper productMediaSwiper">
        <div class="swiper-wrapper">
          {% for media in product.media %}
          <div class="swiper-slide">
            {% if media.media_type == 'image' %}
            <img src="{{ media | img_url: '1024x1024' }}" alt="{{ media.alt | escape }}">
            {% elsif media.media_type == 'video' %}
            {{ media | video_tag: autoplay: true, loop: true, controls: false }}
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next prdMediaSldrBtn prdMediaNext"></div>
        <div class="swiper-button-prev prdMediaSldrBtn prdMediaPrev"></div>
      </div>
    </div>
  </div>

  {% comment %} EVENT DETAILS {% endcomment %}
  <div class="eventDetailsSection">
    <div class="eventDetailsContainer">
      <div class="eventSectionOne">
        <div class="locationDetails">
          <p class="prd-tag">{{ product.tags | first }}</p>
          <h2>{{ product.title }}</h2>
          <div class="prd-decs">{{ product.description | truncate: 120 }}</div>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'timing-block' %}
          <div class="accordioncontainer">
            <div id="accordion-1">
              <div class="head">
                <h2> {{ block.settings.timing-heading }} </h2>
                <div>
                  {% render 'asAngleTopIcon' %}
                </div>
              </div>
              <div class="highlightcontent">
                <div class="actotimeanddate">
                  <div>
                    <div class="acto_timing_detail">
                      <div class="acto_timing_icon">
                        {% render 'asCalenderIcon' %}
                      </div>
                      <p>{{ product.metafields.custom.starting_date }}</p>
                      <div class="acto_timing_icon">
                        {% render 'asSwipeArrowIcon' %}
                      </div>
                      <p>{{ product.metafields.custom.ending_date }}</p>
                    </div>
                  </div>
                  <div class="acto_timing_detail">
                    <div class="acto_timing_icon">
                      {% render 'AsClockIcon' %}
                    </div>
                    <p>{{ product.metafields.custom.show_time }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endcase %}
          {% endfor %}

          <div class="pt-2">
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'price-variant' %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordioncontainer">
                <div id="accordion-{{ block.id }}">
                  <div class="head accordian_header">
                    <div>
                      <h2 class="m-0">{{ block.settings.ticket-price_ttl }}</h2>
                      <p class="accordian-subtitle">{{ block.settings.ticket-price_subttl }}</p>
                    </div>
                    {% render 'asAngleTopIcon' %}
                  </div>
                  <div class="highlightcontent">
                    <!-- Use a table for proper alignment -->
                    <table>
                      <thead>
                        <tr>
                          {% for option in product.options_with_values %}
                          <th>{{ option.name }}</th>
                          {% endfor %}
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for variant in product.variants %}
                        <tr>
                          {% for option in variant.options %}
                          <td>{{ option }}</td>
                          {% endfor %}
                          <td>{{ variant.price | money_without_trailing_zeros }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            {% endcase %}
            {% endfor %}
          </div>

          {% comment %} Event rules show here {% endcomment %}

          <div class="common-box-for-border">
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'extra-info' %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordioncontainer">
                <div id="accordion-{{ block.id }}">
                  <div class="head accordian_header">
                    <div>
                      <h3 class="m-0">{{ block.settings.accor_heading }}</h3>
                      <p>{{ block.settings.accor_subheading }}</p>
                    </div>
                    {% render 'asAngleTopIcon' %}
                  </div>
                  <div class="highlightcontent">
                    <div>{{ product.metafields.custom.extra_information_block }}</div>
                  </div>
                </div>
              </div>
            </div>
            {% endcase %}
            {% endfor %}
          </div>

          <div class="common-box-for-border">
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'extra-info2' %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordioncontainer">
                <div id="accordion-{{ block.id }}">
                  <div class="head accordian_header">
                    <div>
                      <h3 class="m-0">{{ block.settings.accor_heading2 }}</h3>
                      <p>{{ block.settings.accor_subheading2 }}</p>
                    </div>
                    {% render 'asAngleTopIcon' %}
                  </div>
                  <div class="highlightcontent">
                    <div>{{ product.metafields.custom.extra_information_block2 }}</div>
                  </div>
                </div>
              </div>
            </div>
            {% endcase %}
            {% endfor %}
          </div>
          
          <div class="loaction_block">
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'loaction-block' %}
              <div class="loaction_block-inner"> 
                <div class="loaction_block-left"> 
                  <div class="loaction_block-icon"> 
                    <div class="text-center">
                      {% render 'asLocationIcon' %}
                      <p class="location-ttl"> {{ block.settings.location_icon_ttl }} </p>
                      <p> {{ block.settings.location_icon_subttl }} </p>
                    </div> 
                  </div> 
                </div> 
                <div class="loaction_block-right">
                  <div>
                    <a href="javascript:void(0)" class="event_addr"> {{ product.metafields.custom.event_venue }} </a>
                    <p class="event_fulladdr"> {{ product.metafields.custom.event_address }} </p>
                  </div>
                </div> 
              </div>
            <div class="locationgmap">
              {{ block.settings.loaction-map }}
            </div>
            {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="eventSectionTwo">
        <div class="eventsPricestart">
          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'price-detail' %}
          <h2 class="event-price-heading">{{ block.settings.price-from_ttl }}</h2>
          <div class="bookingDiv">
            <div class="booking_price_box">
              <p class="per_person-txt">{{ block.settings.price-from_subttl }}</p>
              <div class="event-detail-price">
                <h2 class="booking_price">{{ product.price | money_without_trailing_zeros }}</h2>
                <h3 class="booking_compare_price"><s>{{ product.compare_at_price | money_without_trailing_zeros }}</s></h3>
              </div>
              <h4>
                <span> {{ block.settings.instant_confirmation-icon }} </span>
                {{ block.settings.icon-txt }}
              </h4>
            </div>
            <div class="bookTickets">
              <a href="{{ block.settings.select-ticket-btn }}?product={{ product.handle }}" class="eventtcktselect">
                {{ block.settings.select-ticket-btn-icon }}
                {{ block.settings.select-ticket-btn-txt }}
              </a>
            </div>
          </div>
          {% endcase %}
          {% endfor %}
        </div>

        <div class="why_actopass_box">
          <div class="why_actopass_heading">
            <h2> Why buy with Actopass? </h2>
          </div>
          <div class="why_actopass_content">
            <div class="why_actopass_content-inner">
              <ul>
                <li>
                  {% render 'secure_checkout-icon' %}
                </li>
                <li>
                  <h3 class="why_actopass_icon-heading"> Secure Checkout </h3>
                </li>
                <li>
                  <p class="why_actopass_icon-txt"> Fast & Secured Payment </p>
                </li>
              </ul>
            </div>
            <div class="why_actopass_content-inner">
              <ul>
                <li>
                  {% render 'instant_confirmation-icon' %}
                </li>
                <li>
                  <h3 class="why_actopass_icon-heading"> Instant confirmation </h3>
                </li>
                <li>
                  <p class="why_actopass_icon-txt"> Refund guarantee options </p>
                </li>
              </ul>
            </div>
            <div class="why_actopass_content-inner">
              <ul>
                <li>
                  {% render 'official _ticket_seller-icon' %}
                </li>
                <li>
                  <h3 class="why_actopass_icon-heading"> Official Ticket Seller </h3>
                </li>
                <li>
                  <p class="why_actopass_icon-txt"> Used by 6m+ people </p>
                </li>
              </ul>
            </div>
            <div class="why_actopass_content-inner">
              <ul>
                <li>
                  {% render 'customer_service-icon' %}
                </li>
                <li>
                  <h3 class="why_actopass_icon-heading"> 24/7 Customer Service </h3>
                </li>
                <li>
                  <p class="why_actopass_icon-txt"> Reliable after sales support </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sticky-select-ticket">
  <div class="container-1170">
    <div class="sticky-select-ticket-inner">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'sticky-select-ticket' %}
            <div class="as-ticket-icon">
              <div>
                {{ block.settings.ticket-icon }}
              </div>
              <div>
                <h3>{{ block.settings.price-lable }}</h3>
                <p>{{ product.price | money_without_trailing_zeros }}</p>
              </div>
            </div>
            <div class="bookTickets">
              <a href="{{ block.settings.select-ticket_page }}?product={{ product.handle }}" class="eventtcktselect">
                {{ block.settings.sticky-ticket-btn-icon }}
                {{ block.settings.sticky-ticket-btn-txt }}
              </a>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}


<script>
  var productMediaSwiper = new Swiper(".productMediaSwiper", {
    navigation: {
      nextEl: ".swiper-button-next.prdMediaNext",
      prevEl: ".swiper-button-prev.prdMediaPrev",
    },
  });

  document.querySelector('.eventtcktselect').addEventListener('click', function () {
    // Product title get karo
    var productTitle = document.querySelector('.product-title').textContent.trim();

    // Product variants and prices get karo (assuming variant list inside select element)
    var productVariants = Array.from(document.querySelectorAll('.variant-option')).map(function (variant) {
      return variant.value;
    });

    // Product prices (assuming price is linked with variant element)
    var productPrices = Array.from(document.querySelectorAll('.variant-option')).map(function (variant) {
      return variant.getAttribute('data-price'); // Example: price stored in data attribute
    });

    // URL generate karo, product title, variants, ane prices URL ma pass karo
    var dynamicPageUrl = '{{ section.settings.dynamic_page_url }}';
    var redirectUrl = dynamicPageUrl + '=' + encodeURIComponent(productTitle) +
      '&variants=' + encodeURIComponent(productVariants.join(',')) +
      '&prices=' + encodeURIComponent(productPrices.join(','));

    window.location.href = redirectUrl;
  });

</script>