<style>
    .collection-grid-main {
        padding-top: {{ section.settings.padding_top_desk }}px;
        padding-bottom: {{ section.settings.padding_bottom_desk }}px;
    }

    .button-block a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        color: {{ section.settings.view_all_text_color }};
        font-size: {{ section.settings.view_all_text_size }}px;
        font-weight: {{ section.settings.view_all_text_weight }};
    }

    @media screen and (max-width: 1024px){
        .collection-grid-main {
            padding-top: {{ section.settings.padding_top_teplop }}px;
            padding-bottom: {{ section.settings.padding_bottom_teplop }}px;
        }
    }
    @media screen and (max-width: 768px){
        .collection-grid-main {
            padding-top: {{ section.settings.padding_top_tab }}px;
            padding-bottom: {{ section.settings.padding_bottom_tab }}px;
        }
    }
    @media screen and (max-width: 425px){
        .collection-grid-main {
            padding-top: {{ section.settings.padding_top_mbl }}px;
            padding-bottom: {{ section.settings.padding_bottom_mbl }}px;
        }
    }
</style>

<section class="collection-grid-main">
    <!-- Container for Title and Subtitle -->
    <div class="container-1170">
        <div class="heading_sec">
            <div class="title-sec">
                <div>
                    <p class="astitals">{{ section.settings.astital }}
                        {% render 'subtitle-icon' %}
                    </p>
                </div>
                <div class="title_icon_box">
                    <div class="title-icon-left">
                        {% render 'title-icon' %}
                    </div>
                    <h3 class="title">
                        {{ section.settings.brand_title }}
                    </h3>
                    <div class="title-icon-right">
                        {% render 'title-icon-right' %}
                    </div>
                </div>
            </div>
            <div class="button-block">
                <a href="/collections/{{ section.settings.all_prodcut_tag_wise.handle }}">
                    {{ section.settings.view_all_text }}
                    {{ section.settings.view_all_icon }}
                </a>
            </div>
        </div>
    </div>
    <!-- Product Collection Grid -->
    <div class="container-1170">
        <div class="collection-grid">
            {% for prd in section.settings.all_prodcut_tag_wise.products %}
                <div class="product_card" data-city-tag="{{ prd.tags | join: ',' }}">
                    <a href="{{ prd.url }}">
                        <div class="product_img">
                            {% if prd.images.size > 1 %}
                                <img src="{{ prd.images[1] | img_url: '500x' }}" alt="{{ prd.title }}">
                            {% else %}
                                <img src="{{ prd.featured_image | img_url: '500x' }}" alt="{{ prd.title }}">
                            {% endif %}
                        </div>
                        <div class="product_content">
                            <h4>{{ prd.title | truncate: 30 }}</h4>
                            <div class="product_content_inner">
                                <p>{{ prd.price | money_without_trailing_zeros }}</p>
                                <p>{{ prd.metafields.custom.dummy_date }}</p>
                            </div>
                        </div>
                    </a>        
                </div>
            {% endfor %}
        </div>

        <div class="error_msg" data-section="product">
            <div class="error_msg_inner">
                <img src="{{ section.settings.event_not_available | img_url: '' }}" alt="error_image">
            </div>
        </div>
    </div>
</section>



{% schema %}
{
    "name": "As 8Layout Collection",
    "settings": [
        {
            "type": "text",
            "id": "astital",
            "label": "Subtitle"
        },
        {
            "type": "text",
            "id": "brand_title",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "all_prodcut_tag_wise",
            "label": "Add Collection"
        },
        {
            "type": "header",
            "content": "Add No Event available Image"
        },
        {
            "type": "image_picker",
            "id": "event_not_available",
            "label": "Add Image"
        },
        {
            "type": "header",
            "content": "Spacing Top"
        },
        {
            "type": "range",
            "id": "padding_top_desk",
            "label": "Desktop",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_top_teplop",
            "label": "Laptop",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_top_tab",
            "label": "Tablet",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_top_mbl",
            "label": "Mobile",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Spacing Bottom"
        },
        {
            "type": "range",
            "id": "padding_bottom_desk",
            "label": "Desktop",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom_teplop",
            "label": "Laptop",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom_tab",
            "label": "Tablet",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom_mbl",
            "label": "Mobile",
            "min": 0,
            "step": 5,
            "default": 50,
            "max": 100,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "View Button"
        },
        {
            "type": "text",
            "id": "view_all_text",
            "label": "View All Text"
        },
        {
            "type": "html",
            "id": "view_all_icon",
            "label": "View All Icon"
        },
        {
            "type": "color",
            "id": "view_all_text_color",
            "label": "View All Text Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "view_all_text_size",
            "label": "View All Text Font Size",
            "min": 10,
            "max": 30,
            "default": 16,
            "unit": "px",
            "step": 2
        },
        {
            "type": "select",
            "id": "view_all_text_weight",
            "label": "View All Text Font Weight",
            "options": [
                { "value": "300", "label": "Light" },
                { "value": "400", "label": "Normal" },
                { "value": "500", "label": "Medium" },
                { "value": "600", "label": "Semi-Bold" },
                { "value": "700", "label": "Bold" }
            ],
            "default": "400"
        }
    ],
    "presets": [
        {
            "name": "As 8Layout Collection with Title"
        }
    ]
}
{% endschema %}
